.modal{
    border: 1px solid #000;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
    height: 250px;
    transform: translateY(-300px);
    transition: all ease 1s;
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-weight: normal;
}

.modal_open{
    transform: translateY(0);
    position: relative;
    z-index: 4;
}

.btn_close{
    margin: 0;
    border: 0;
    padding: 0;
    background: #fff;
    color: rgb(89, 89, 89);
    border-radius: 20%;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 150ms;
    margin-left: 270px;
} 

.btn_close:hover{
    color: #000;
}

.shadow{
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 0, 0, 0.125);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 3;
}

.shadow_open{
    display: block;
}


.title{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p{
    margin-left: 15px;
    font-size: 20px;
}
.btt{
    margin-left: 259px;
    margin-top: 16px;
}
.close{
    width: 70px;
    height: 50px;
    font-size: 17px;
    color: #fff;
    background-color: rgb(128, 128, 128);
    border: #fff;
    border-radius: 6px;
}
.close:hover{
    background-color: rgb(97, 95, 95);
}

.save{
    width: 150px;
    height: 50px;
    font-size: 17px;
    color: #fff;
    background-color: rgb(53, 102, 251);
    border: #fff;
    border-radius: 6px;
}
.save:hover{
    background-color: rgb(17, 69, 227);
}

.open{
    width: 500px;
    height: 100px;
    margin-left: 700px;
    border-radius: 10px;
    font-size: 40px;
    margin-top: 10px;
    color: #fff;
    background-color: rgb(53, 102, 251);
}

.open:hover{
    background-color: rgb(17, 69, 227);
}